<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div th:fragment="p_foot">
    <link href="/style/steam_front/foot/css/foot.css" rel="stylesheet" type="text/css">
    <div class="p_foot" style="height:70px;background-color:black">
        <div class="p_foot_title"> 初中创客教育网络学习平台：
            <a style="color:#E4DAB4" href="/">网站首页</a> ||
            <a style="color:#E4DAB4" href="/user/info">个人中心</a>||
            <span  style="color:#E4DAB4">版权所有:初中创客教育网络学习平台</span>
        </div>
    </div>
</div>
</body>
</html>