<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div th:fragment="p_foot">
    <link href="/style/steam_front/foot/css/foot.css" rel="stylesheet" type="text/css">
    <div class="p_foot" style="height:70px;background-color:black">
        <div class="p_foot_title"> STEAM创客教育平台：
            <a style="color:#E4DAB4" href="/index.html">网站首页</a> ||
            <span style="color:#E4DAB4">联系我们:0755 - 26698678</span>||
            <span  style="color:#E4DAB4">版权所有:华南智能教育研究中心，佛山创客教育联盟</span> ||
            <a style="color:#E4DAB4" href='index.html' target='_blank'>粤ICP备16049812号</a> ||

        </div>
    </div>
</div>
</body>
</html>