<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ck.teach.teachplatform.mapper.ResourceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ck.teach.teachplatform.entity.Resource">
        <id column="id" property="id" />
        <result column="type_id" property="typeId" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="intro" property="intro" />
        <result column="size" property="size" />
        <result column="create_time" property="createTime" />
        <result column="top" property="top" />
        <result column="status" property="status" />
        <result column="visit_num" property="visitNum" />
        <result column="like_num" property="likeNum" />
        <association column="type_id" property="resourceType" select="org.ck.teach.teachplatform.mapper.ResourceTypeDao.selectById"></association>
        <association column="user_id" property="user" select="org.ck.teach.teachplatform.mapper.UserDao.selectById"></association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type_id, user_id, name, title, content, intro, size, create_time, top, status, visit_num, like_num
    </sql>

</mapper>
