<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ck.teach.teachplatform.mapper.ActivityLogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ck.teach.teachplatform.entity.ActivityLog">
        <id column="id" property="id" />
        <result column="atv_id" property="atvId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="comment" property="comment" />
        <result column="comment_time" property="commentTime" />
        <association property="user" column="user_id"
                     select="org.ck.teach.teachplatform.mapper.UserDao.selectById">

        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, atv_id, user_id, content, create_time, comment, comment_time
    </sql>

</mapper>
