<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ck.teach.teachplatform.mapper.TieCmtDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ck.teach.teachplatform.entity.TieCmt">
        <id column="id" property="id" />
        <result column="cmt_id" property="cmtId" />
        <result column="tie_id" property="tieId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <association property="user" column="user_id"
                     select="org.ck.teach.teachplatform.mapper.UserDao.selectById">

        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cmt_id, tie_id, user_id, content, create_time
    </sql>

</mapper>
