<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ck.teach.teachplatform.mapper.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ck.teach.teachplatform.entity.User">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="qq" property="qq"/>
        <result column="school" property="school"/>
        <result column="head_url" property="headUrl"/>
        <result column="user_tag" property="userTag"/>
        <result column="point_level" property="pointLevel"/>
        <result column="point" property="point"/>
        <result column="intro" property="intro"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, phone, password, nick_name, qq, school, head_url, user_tag, point_level, point, intro
    </sql>
    <select id="selectInfoCount" resultType="java.util.Map" parameterType="integer">
        SELECT
            COUNT(1) AS achv_total ,
            ifnull(SUM(ua.like_num),0) AS achv_like,
            ifnull(	SUM(ua.fav_num),0) AS achv_fav
        FROM t_user_achv ua WHERE ua.user_id = #{value}
    </select>

</mapper>
