<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ck.teach.teachplatform.mapper.UserAchvDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ck.teach.teachplatform.entity.UserAchv">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="type_id" property="typeId" />
        <result column="contest" property="contest" />
        <result column="name" property="name" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="like_num" property="likeNum" />
        <result column="visit_num" property="visitNum" />
        <result column="fav_num" property="favNum" />
        <association property="user" column="user_id" select="org.ck.teach.teachplatform.mapper.UserDao.selectById"></association>
        <association property="userAchvType" column="type_id" select="org.ck.teach.teachplatform.mapper.UserAchvTypeDao.selectById"></association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, type_id, contest, name, content, create_time, like_num, download_num, fav_num
    </sql>

</mapper>
