<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>资讯</title>
    <link href="/style/steam_front/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/style/steam_front/student_space/css/userWorks.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/style/common/common.js"></script>
</head>

<link href="/style/jw/css/base.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/style/blackbox/css/blackbox.css" media="screen"/>
<link href="/style/basic/loadmask.css" rel="stylesheet" type="text/css"/>
<body>

<div class="p_wrap">
    <div class="p_pp_head">
        <div class="p_pp_nav"><!--导航-->
            <ul>
                <li>
                    <a class="p_pp_nav_course p_pp_nav_courseh not"
                       href="#">通知</a></li>
                <li id="zixun">
                    <a class="p_pp_nav_course p_pp_nav_coursehs"
                       href="#">资讯</a></li>
            </ul>
        </div><!--p_pp_nav end-->
        <div class="clear"></div>
        <div class="p_pp_status"><!--状态-->
            <div class="p_pp_sort_l">状态：</div>
            <div class="p_pp_sort_r steam_state">
                <ul>
                    <li data=""><a>全部</a></li>
                    <li data="1"><a>已分享</a></li>
                    <li data="0"><a>未分享</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div><!--p_pp_status end-->
    </div><!--p_pp_head end-->
    <div class="clear"></div>
    <div class="p_pc_userWorks" id="notify">
        <ul>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">通知标题</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看通知</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-20</span></li>
        </ul>
        <div class="p_pp_no_data" style="display: none"></div>
    </div>
    <div class="p_pc_userWorks" id="zx" style="display: none">
        <ul>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">资讯1</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看资讯</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-22</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">资讯1</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看资讯</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-22</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">资讯1</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看资讯</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-22</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">资讯1</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看资讯</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-22</span></li>
            <li data="14787">
                <a class="p_userWorks_title" style="width:428px">资讯1</a>
                <a class="p_userWorks_look" href="/notify-detail.html">查看资讯</a>
                <a class="p_userWorks_share" data="0"></a>
                <a class="p_userWorks_delete"></a>
                <span>上传时间：2019-12-22</span></li>

        </ul>
        <div class="p_pp_no_data" style="display: none"></div>
    </div>
    <!--p_pc_userWorks end-->
    <script>
        $("#zixun").mouseenter(function () {
            $("#notify").hide();
            $("#zx").show();
        });
        $("#zixun").mouseleave(function () {
            $("#notify").show();
            $("#zx").hide();
        });
    </script>
    <div class="h_pp_page">
        <a class="h_pp_turn">跳转</a>
        <div class="h_pp_page_inp">
            <input type="text">
        </div>
        <div class="h_pp_page_nums"><a data="1" class="active">1</a></div>
    </div>
</div>

</body>
</html>
