<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title th:text="${resource.getTitle()}+'-资源详情'"></title>
    <link href="/style/steam_front/reset.css" rel="stylesheet" type="text/css">
    <link href="/style/steam_front/diyWorks/css/diyWorksDetail.css" rel="stylesheet" type="text/css">
    <link href="/style/steam_front/common/css/common.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/style/steam_front/common/js/common.js"></script>
    <link href="/style/steam_front/resourceLibrary/css/vote.css" rel="stylesheet" type="text/css">
    <style>
        .weixin {
            display: inline-block;
            position: absolute;
            right: 50px;
            top: 0;
            width: 100px;
            height: 34px;
            line-height: 34px;
            color: #fff;
        }

        .p_main_content img {
            width: 65%;
        }

        .p_main_content p {
            padding-bottom: 10px;
        }
    </style>
    <link href="/style/jw/css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/style/blackbox/css/blackbox.css"
          media="screen">
    <link href="/style/basic/loadmask.css" rel="stylesheet" type="text/css">
</head>

<link href="/style/jw/css/base.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/style/blackbox/css/blackbox.css" media="screen"/>
<link href="/style/basic/loadmask.css" rel="stylesheet" type="text/css"/>
<body>
<div th:replace="view/frame/head :: head-div"></div>
<div id="p_link" th:include="view/frame/links :: p_links(l1='/resource-list.html',name1='资源列表'
,l2='#',name2=${resource.getTitle()})">
    <div class="p_fuhao"></div>
    <div class="p_link_a"><a href="/index">创客教育</a>&gt;
        <a></a>&gt;
        <a id="f_course_name"></a></div>
</div>

<input id="resourceId" type="hidden" th:value="${resource.getId()}">

<div class="p_worksdetail">
    <div class="p_title" th:text="${resource.getTitle()}">照顾盲人眼镜</div>
    <div class="p_author">
        作者：<span th:text="${resource.getUser().getNickName()}"></span>
        <span class="layui-badge" th:text="${resource.getUser().getPointLevel()}"></span>
        <span>时间：[(${#dates.format(resource.getCreateTime(),'yyyy-MM-dd')})]</span>
        <!--
                访问量:<span th:text="${resource.getVisitNum()}"></span>
                <div class="q_like" data="1" th:text="${resource.getLikeNum()}">0</div>
        -->
        <div class="clear"></div>
    </div>
    <div class="p_fenge"></div>
    <!--文本-->
    <div class="p_main_content">
        <h2>资源简介:</h2>
        <p th:text="${resource.getIntro()}"></p>
        <div th:if="${resource.getTypeId()==1}">
            [(${resource.getContent()})]
        </div>
        <div style="    text-align: center;" th:if="${resource.getTypeId()==2}">
            <video style="width: 100%;" th:src="${resource.getContent()}" controls>
            </video>
        </div>
        <div style="    text-align: center;" th:if="${resource.getTypeId()==3}">
            <iframe
                    th:src="@{/PPT2HTML.html(url=${resource.getContent()})}" width="960px;"
                    height="720px;"></iframe>
        </div>
        <div style="    text-align: center;" th:if="${resource.getTypeId()==4}">
            <img style="width: auto;" src="" th:src="${resource.getContent()}">
        </div>
    </div>
    <!--投票部分-->
    <div class="clear"></div>

    <!--评论区-->
    <div class="p_worksdetail">
        <div class="q_discussText layui-form">
            <input th:value="${login_user?.getId()}" name="userId" type="hidden" lay-reqtext="请先登录!"
                   lay-verify="required">
            <input name="resourceId" type="hidden" th:value="${resource.getId()}">
            <textarea placeholder="写点评论支持下资源贡献者,注意字数不要超过70字 ~" name="content" lay-verify="required"></textarea>
            <div class="q_discussBt">
                <a lay-submit lay-filter="cmt-btn">发表评论</a>
            </div>
        </div>
        <p class="q_wdhuifu_number">作品评论</p>
        <div class="p_worksdetail_discuss_list">
            <div class="p_worksdetail_discuss_list">
                <div class="q_detailList" id="cmt-list">
                </div>
                <div class="common_yema" style="text-align: right">
                    <div id="page"></div>
                </div>
            </div>
        </div>
        <!-- p_worksdetail_discuss_list end -->

        <script id="cmt-model" type="text/html">
            {{#  layui.each(d.body,function(i,e){ }}

            <div class="q_detailModel">
                <div class="p_worksdetail_discuss_detail" data="{{e.id}}">
                    <a class="p_worksdetail_discuss_userimg">
                        <img src="{{e.user.headUrl}}">
                    </a>
                    <a class="p_worksdetail_discuss_username">{{e.user.nickName}}</a>
                    <p>{{e.content}}</p>
                    <span>{{e.createTime}}</span>
                    <span><a data-user="{{e.userId}}" data-id="{{e.id}}">删除评论</a></span>
                </div>
            </div>
            {{#   }) ;  }}

        </script>
        <script th:inline="none">
            layui.use(['form', 'js_tools', 'layer'], function () {
                var js = layui.js_tools;
                var form = layui.form;
                var layer = layui.layer;
                js.loadData({
                    url: '/admin/api/resourceCmt/page',
                    param: {resourceId: js.get('#resourceId').val(), pageSize: 5},
                    model: '#cmt-model',
                    list: '#cmt-list',
                    page: 'page'
                });

                form.on('submit(cmt-btn)', function (data) {
                    js.quick_post('/admin/api/resourceCmt/add', data.field, function (res) {
                        layer.msg(res.msg);
                        js.loadData({
                            url: '/admin/api/resourceCmt/page',
                            param: {resourceId: js.get('#resourceId').val(), pageSize: 5},
                            model: '#cmt-model',
                            list: '#cmt-list',
                            page: 'page',
                            refresh: true
                        });
                    })
                })

            });
        </script>

    </div>
</div>
</body>
</html>
