<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户注册</title>
    <link media="all" href="/style/basic/one.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/auth/css/forgetPassword.css"/>
    <link rel="stylesheet" href="/style/basic/dialog.css"/>
    <link rel="stylesheet" href="/style/auth/css/userRegister.css"/>
    <link rel="stylesheet" href="/style/findSchool/css/xuexiao.css"/>
    <style type="text/css">

        .wt_rigiter_form_input {
            width: 250px;
        }

        .rule_show {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            padding: 10px;
            font-size: 12px;
            overflow-y: scroll;
            overflow-x: hidden;
            display: block;
            height: 300px;
        }

        .rule_show p {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            line-height: 27px;
        }

    </style>

    <link href="/style/jw/css/base.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/style/blackbox/css/blackbox.css" media="screen"/>
    <link href="/style/basic/loadmask.css" rel="stylesheet" type="text/css"/>
    <link href="/webjars/layui/2.5.5/css/layui.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div th:replace="view/frame/head :: head-div"></div>

<div class="f_password_main">
    <div class="f_password_content">
        <div class="f_password_state">
            <div class="f_state_pross onhover">
                <span class="index">1</span>填写注册信息
                <div class="f_state_fege "><span class="outside"></span><span class="inside"></span></div>
            </div>
            <div class="f_state_pross ">
                <span class="index">2</span>注册成功
            </div>
        </div>
        <div class="wt_form_box"><!-- content-begin -->
            <div class="ui-box">
                <div class="ui-box-head">
                    <h3 class="ui-box-head-title">
                        注册账号
                    </h3>
                </div>
                <div class="ui-box-container">
                    <div class="ui-box-content" style="min-height: 400px;">
                        <form class="ui-form layui-form" id="user_register_form">
                            <fieldset>
                                <legend>表单标题</legend>

                                <div class="ui-form-item">
                                    <label for="phone" class="ui-label"><span
                                            class="ui-form-required">*</span>手机号码</label>
                                    <input class="ui-input wt_rigiter_form_input" lay-verify="phone" type="text"
                                           id="phone" name="phone" placeholder="作为登录依据和找回密码">
                                    <span class="ui-form-other" style="color: red;"></span>
                                    <p class="ui-form-explain">
                                        作为登录依据和找回密码
                                    </p>
                                </div>

                                <div class="ui-form-item">
                                    <label class="ui-label">
                                        <span class="ui-form-required">*</span>用户类型</label>
                                    <div class="identityStyle">
                                        <input type="radio" name="roleId" lay-verify="required" value="1" title="学生"
                                               checked>
                                        <input type="radio" name="roleId" lay-verify="required" value="2" title="老师">
                                    </div>
                                    <p class="ui-form-explain">
                                        请选择您的用户类型。
                                    </p>
                                </div>

                                <div class="ui-form-item">
                                    <label for="password" class="ui-label"><span
                                            class="ui-form-required">*</span>密码</label>
                                    <input class="ui-input wt_rigiter_form_input" type="password" id="password"
                                           name="password"
                                           lay-verify="len6_12" minlength="6"
                                           autocomplete="off"/>
                                    <p class="ui-form-explain">
                                        6~12个字符，包括字母、数字，区分大小写
                                    </p>
                                </div>

                                <div class="ui-form-item">
                                    <label for="passwordConfirm" class="ui-label"><span
                                            class="ui-form-required">*</span>确认密码</label>
                                    <input class="ui-input wt_rigiter_form_input" type="password" id="passwordConfirm"
                                           lay-verify="required|confirmPass" value="">
                                    <p class="ui-form-explain">请再输入一遍。</p>
                                </div>

                                <div class="ui-form-item">
                                    <label for="nick_name" class="ui-label">
                                        <span class="ui-form-required">*</span>用户昵称
                                    </label>
                                    <input class="ui-input wt_rigiter_form_input" type="text" lay-verify="required"
                                           id="nick_name" name="nick_name" value="">
                                    <span id="ui-form-other" class="ui-form-other" style="color: red;"></span>
                                    <p class="ui-form-explain">
                                        6~18个字符，可使用字母、数字.
                                    </p>
                                </div>

                                <div class="ui-form-item">
                                    <label for="school" class="ui-label">学校</label>
                                    <input class="ui-input wt_rigiter_form_input" type="text" id="school" name="school"
                                           placeholder="输入自己的学校全名">
                                    <span class="ui-form-other" style="color: red;"></span>
                                    <p class="ui-form-explain">
                                    </p>
                                </div>
                                <div class="ui-form-item">
                                    <label for="qq" class="ui-label">QQ</label>
                                    <input class="ui-input wt_rigiter_form_input" type="text" lay-verify="qq" id="qq"
                                           name="qq" placeholder="输入自己的QQ号码">
                                    <span class="ui-form-other" style="color: red;"></span>
                                    <p class="ui-form-explain">
                                    </p>
                                </div>
                                <div class="ui-form-item">
                                    <label for="intro" class="ui-label">简介</label>
                                    <textarea style="min-height: 100px;" class="ui-input wt_rigiter_form_input"
                                              id="intro" name="intro" placeholder="可以简单描述一下自己~"></textarea>
                                    <span class="ui-form-other" style="color: red;"></span>
                                    <p class="ui-form-explain">
                                    </p>
                                </div>
                                <!--
                                                <div class="ui-form-item">
                                                    <label for="hasReadAgreement">
                                                        <input class="ui-checkbox" id="hasReadAgreement" name="hasReadAgreement" value="" type="checkbox">
                                                               <span>我已阅读并接受<a href="javascript:void(0).html" id="registerService">《服务协议》</a></span>
                                                    </label>
                                                    <p class="ui-form-explain">
                                                        &nbsp;
                                                    </p>
                                                </div>
                                        -->
                                <div class="ui-form-item">
                                    <input type="submit" lay-submit lay-filter="next"
                                           class="ui-button ui-button-morange" value="下一步">
                                    <a class="ui-button ui-button-morange"
                                       href="javascript:window.history.go(-1)">返回</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ui-box" id="cg" style="display: none;">
                <div class="ui-box-head">
                    <h3 class="ui-box-head-title">
                        注册成功
                    </h3>
                </div>
                <div class="ui-box-container">
                    <div class="ui-box-content" style="min-height: 400px;">
                        <div class="layui-card">
                            <div class="layui-card-body">
								<h2 style="text-align: center">注册成功,点击右上角去登录</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- content -end  -->
    </div>
</div>
<script>
    layui.use(['js_tools', 'form'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var js = layui.js_tools;
        form.on('submit(next)', function (data) {
            console.log(JSON.stringify(data.field));
            js.sync_post("/register", data.field, function (res) {
            	console.log('sssss--'+JSON.stringify(res));
				try {
					$('.ui-box').hide();
					$('.f_state_pross').removeClass('onhover').eq(1).addClass('onhover');
					$('#cg').show();
				}catch (e) {
					console.log(e);
				}
             },null);
            return false;
        })

    });
</script>

<div th:include="view/frame/footer::p_foot"></div>


<div style="display: none">
    <div id="serviceDialog_content">
        <div class="rule_show" style="display: block;">
            <p style="font-weight: bold;">个人注册成为Steam创客教育平台的用户须知：</p>
            <p></p>
            <p>----------------------------------------------------------------------</p>
            <p></p>
            <p>1. 用户言行不得违反国家的法律法规，不得违犯“Steam创客教育平台”制定的相关管理办法。“Steam创客教育平台”的用户应遵守并有义务维护网络文明。</p>
            <p></p>
            <p>
                2.“Steam创客教育平台”用户的个人资料受“Steam创客教育平台”保护。“Steam创客教育平台”承诺不会在未获得用户许可的情况下擅自将用户的个人资料信息向任何第三方透露，但以下情况除外:1）用户同意让第三方共享资料；2）“Steam创客教育平台”需要听从法庭传票、法律命令或遵循法律程序。3）使用个人连接不当导致个人资料泄漏，“Steam创客教育平台”不承担责任。</p>
            <p></p>
            <p>
                3.“Steam创客教育平台”用户在“Steam创客教育平台”发文或使用“Steam创客教育平台”任何服务，以及在自己的头像、个人资料中，均不能从事非法商业行为、对他人进行骚扰或人身攻击、包含侮辱性言辞、引起不必要的纠纷、影射党和国家领导人、涉及色情内容或其他不恰当的内容。如果违反上述情形，将视情况予以警告、封禁部分权限、情节严重者将直接删除帐号。</p>
            <p></p>
            <p>4.“Steam创客教育平台”用户不得利用本站帐号、信件、个人资料、照片、留言板、日志、群等服务进行直接或者间接商业宣传，否则将视情节轻重给予警告、封禁部分权限直至删除帐号的处罚。</p>
            <p></p>
            <p>5.“Steam创客教育平台”用户不得用恶意代码影响其它用户正常使用，一经投诉，将封禁部分权限，情节严重者将直接删除帐号。</p>
            <p></p>
            <p>
                6.“Steam创客教育平台”用户不得手动或者使用特殊程序、软件对本站系统进行恶意冲击及远程攻击。对于恶意冲击、攻击系统并可能危及系统稳定运行的用户，直接删除帐号。以下三种情况直接封杀帐号，①用机器人攻击网站；②在本站内任何地方上传或散播病毒；③使用恶意代码盗取cookie或者进行xss攻击</p>
            <p></p>
            <p>7.“Steam创客教育平台”用户有权力和责任对“Steam创客教育平台”内出现的违反国家法律法规以及有关站规、网络文明的事件进行举报。</p>
            <p></p>
            <p>
                8.“Steam创客教育平台”帐号代表用户个人，“Steam创客教育平台”用户在本站发表所有言论仅代表该用户个人观点，与“Steam创客教育平台”立场无关。由于用户发表文章或者其他站上交流引起的线上线下责任，本站概不予负担其中任何形式的责任，用户文责自负。</p>
            <p></p>
            <p>9.“Steam创客教育平台”帐号仅代表使用者个人，不得转借或共用帐号。违者将视情节受到警告、封禁部分权限直至删除帐号的处罚。对于有意泄露帐号密码者，视同共用帐号行为从重处理。</p>
            <p></p>
            <p>10.本管理办法解释权归“Steam创客教育平台”，本管理办法自公布之日起施行。</p>
        </div>
    </div>
</div>
</body>
</html>
